name: Go Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4 # Checks out your repository under $GITHUB_WORKSPACE
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25'
    - name: Build
      run: go build ./...
    - name: Test
      run: go test -v ./...
    - name: Vet
      run: go test -v ./...
